numpy==2.2.5
pandas==2.2.3
scikit-learn==1.6.1
scikit-multilearn==0.2.0
torch==2.7.0+cu128
transformers==4.51.3
optuna==4.3.0
nltk==3.9.1
python-dotenv==1.1.0
joblib==1.4.2
matplotlib==3.10.1
seaborn==0.13.2
xgboost==3.0.0
azure-devops==7.1.0b4
requests==2.32.3
